# Default ignored files
/../../inclass-int161-w6-rental-video /.idea/shelf/
/../../inclass-int161-w6-rental-video /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../inclass-int161-w6-rental-video /.idea/httpRequests/
# Datasource local storage ignored files
/../../inclass-int161-w6-rental-video /.idea/dataSources/
/../../inclass-int161-w6-rental-video /.idea/dataSources.local.xml
